<div class="row">
<div class="col-sm-4 col-md-4">
<a href="http://press.uchicago.edu/ucp/books/book/chicago/E/bo8056086.html"><img src="img/EpidemicInvasions.jpg" style="border: none; height: 224px; width: 150px;" /></a>
</div>
<div class="col-sm-4 col-md-4">
<a href="http://uncw.edu/sherman/previous.html"><img src="img/ContagionConquest.jpg" style="border: none; height: 224px; width: 150px;" /></a>
</div>
<div class="col-sm-4 col-md-4">
<a href="http://medicine.yale.edu/lab/espinosa/workshop.aspx"><img src="img/EspinosaWorkshop.jpg" style="border: none; height: 224px; width: 150px;" /></a>
</div>
</div>