<div class="grid" style="--bs-columns: 5;">
<div class="g-col-5 g-col-sm-1">
<a href="http://press.uchicago.edu/ucp/books/book/chicago/E/bo8056086.html"><img src="http://mariolaespinosa.org/img/EpidemicInvasions.jpg" style="border: none; height: 224px; width: 150px;" /></a>
</div>
<div class="g-col-5 g-col-sm-1"></div>
<div class="g-col-5 g-col-sm-1">
<a href="http://uncw.edu/sherman/previous.html"><img src="http://mariolaespinosa.org/img/ContagionConquest.jpg" style="border: none; height: 224px; width: 150px;" /></a>
</div>
<div class="g-col-5 g-col-sm-1"></div>
<div class="g-col-5 g-col-sm-1">
<img src="http://mariolaespinosa.org/img/EspinosaWorkshop.jpg" style="border: none; height: 224px; width: 150px;" />
</div>
</div>