<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  
  <!-- Redirect
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  <meta http-equiv="Refresh" content="0; URL={{ page.loc }}">
  
  </head>


<body style="background-color: rgb(128, 128, 128);">

<br>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=1638718; 
var sc_invisible=1; 
var sc_security="2edead51"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="shopify site
analytics" href="http://statcounter.com/shopify/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/1638718/0/2edead51/1/"
alt="shopify site analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
</body>
</html>